﻿@model LoginViewModel 


    <form asp-controller="Auth" asp-action="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div>
            <label>Username</label>
            <input asp-for="Username" />
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Password" />
        </div>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form> 
    <div>
        <a asp-controller="Auth" asp-action="Register" 
           asp-route-returnUrl="@Model.ReturnUrl">Register</a>
    </div>